<!DOCTYPE html>
<html>
<head>
    <title>TABLE 5</title>
</head>
<body>
    <table border="5px" cellspacing="5px" cellpadding="5px">
        <tr>
            <th rowspan="3">DAY</th>
            <th colspan="3">SEMINAR</th>
        </tr>
        <tr>
            <th colspan="2">SCHEDULE</th>
            <th rowspan="2">TOPIC</th>
        </tr>
        <tr>
            <th>BEGIN</th>
            <th>END</th>
        </tr>
        <tr>
            <td rowspan="2">MONDAY</td>
            <td rowspan="2">8:00 a.m.</td>
            <td rowspan="2">5:00 p.m.</td>
            <td>Introduction to XML</td>
        </tr>
        <tr>
            <td>Validity : DTD and Relax NG</td>
        </tr>
        <tr>
            <td rowspan="3">TUESDAY</td>
            <td>8:00 a.m.</td>
            <td>11:00 a.m.</td>
            <td rowspan="2">XPath</td>
        </tr>
        <tr>
            <td>11:00 a.m.</td>
            <td>2:00 p.m.</td>
        </tr>
        <tr>
            <td>2:00 p.m.</td>
            <td>5:00 p.m.</td>
            <td>XSL Transformation</td>
        </tr>
        <tr>
            <td>WEDENSDAY</td>
            <td>8:00 a.m.</td>
            <td>12:00 p.m.</td>
            <td>XSL Formating Objects</td>
        </tr>
    </table>
    <a href="{% url 'app1:home' %}"><button>Home</button></a>
    <a href="{% url 'app3:animation2' %}"><button>animation2</button></a>
    <a href="{% url 'app3:animation3' %}"><button>animation3</button></a>
    <a href="{% url 'app2:login1' %}"><button>login1</button></a>
    <a href="{% url 'app1:home' %}"><button>Home</button></a>
    <a href="{% url 'app2:login3' %}"><button>login3</button></a>
    <a href="{% url 'app1:table' %}"><button>Table</button></a>
    <a href="{% url 'app1:table1' %}"><button>Table1</button></a>
    <a href="{% url 'app1:table2' %}"><button>table2</button></a>
    <a href="{% url 'app1:table3' %}"><button>Table3</button></a>
    <a href="{% url 'app1:table4' %}"><button>Table4</button></a>
    <a href="{% url 'app1:table5' %}"><button>table5</button></a>
</body>
</html>