<!DOCTYPE html>
<html> 
<head>
    <title>Document</title>
</head>
<body>
    <p>nsnfnosvjvjnvjjvjvnjihhinjjnigfihihhvinjnjv</p>
    <hr>
    <b>khamdale</b>
    <strong>dashrath MORE348</strong>
    <hr>
    <u>u == hi love janu</u>
    <ins>ins == knkvnvnvjnkvnnkvnkvnvnnvnvnn</ins>
    <hr>
    <s>s == knkvnvnvjnkvnnkvnkvnvnnvnvnn</s> <br>
    <strike>strike == knkvnvnvjnkvnnkvnkvnvnnvnvnn</strike>
    <hr>
    <del> del == knkvnvnvj</del>
    <hr>
    <mark>mark == knkvnvnvjnkvnnkvnkvnvnnvnvnn</mark>
    <hr>
    <address>address == h.no=64, <mark> AT. Khamdale,</mark> po.=here, tal.= chandgad, dist.= kolhapur</address>
    <hr>
    <code>code == knkv 1234 sddsds</code>
    <hr> */formula/*
    <sub>sub == knkvnvnvjnkvnnkvnkvnvnnvnvnn</sub> <br> H <sub>2</sub>O <br>
    <sup>sup == knkvnvnvjnkvnnkvnkvnvnnvnvnn</sup> <br> 2 <sup>2</sup>
    <hr>
    <span> span == knkvnvnvjnkvnnkvnkvnvnnvnvnn</span>
    <hr>
    <i>i == knkvnvnvjnkvnnkvnkvnvnnvnvnn</i>
    <em>em == knkvnvnvjnkvnnkvnkvnvnnvnvnn</em>
    <hr>
    <ins>ins == DASHRATH janewary more12132342</ins>
    <hr>
    <pre> */ for same textline /*
        for i in range(0,9):
            print(i)
    </pre>
</body>
</html>